<app-header />
<main>
    <ul id = "users">
        <li>
            <app-user [user]="users[0]"
                      (select)="onSelectUser($event)"
            />
        </li>
        <li>
            <app-user [user]="users[1]"
                      (select)="onSelectUser($event)"
            />
        </li>
        <li>
            <app-user (select)="onSelectUser($event)"
                      [user]="users[2]"
            />
        </li>
        <li>
            <app-user (select)="onSelectUser($event)"
                      [user]="users[3]"
            />
        </li>


    </ul>

    <app-tasks [name]="selectedUser.name" />
</main>

